


#header {
  width: 100%;
  height: 3ems;
  float:left;
}

#articles{
  float: left;
  width:100%;
}

.article {
  float: left;
  width: 80%;
  margin: 10%;
  border: 2px solid black;

}

.article p {
  margin:2%;
}
