

#nav {
  display:none;
  clear: both;
  list-style: none;
  text-align: center;
}

.icon-menu {
  float:right;
  font-size: 30px;
  /*display: inline-block;*/
  margin: 5px;
}


#nav-box:hover ul {
  display: block;
}

#nav-box li{
  font-size: 160%;
  color: black;
  margin-left: 10px;
}

.template{
  display: none;
}

.article {
  /*float: left;*/
  width: 80%;
  max-width: 600px;
  margin: 20px 10%;
  border: 2px solid black;
}

@media screen and (min-width: 760px){
  #nav-box {
  float: left;
  width: 60%;
  margin-left: 20%;
}

  #nav {
    display:unset;
    clear: both;
    float:left;
    width:100%;
    margin: 2px 0%;
  }

  #nav li {
    display:inline-block;

  }

  .icon-menu {
    display: none;
  }

  .article {
    margin: 0 auto;
    margin-top: 2em;
  }

  .article p {
  margin:4%;
  }

}

@media screen and (min-width: 1000px){

  .article{
    max-width:960px;
  }
}
