#nav {
  display:none;
  clear: both;
  list-style: none;
  text-align: center;
}

.icon-menu {
  float:right;
  font-size: 30px;
  /*display: inline-block;*/
  margin: 5px;
}


#nav-box:hover ul {
  display: block;
}

#nav-box li{
  font-size: 160%;
  margin-left: 10px;
}

#nav-box a{
  color: black;
}

.article {
  /*float: left;*/
  width: 80%;
  max-width: 600px;
  margin: 4em 10%;
  border: 2px solid black;
}

.article img{
  margin-left: 20%;
  width: 60%;
  display: block;
}

.article section{
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 760px){
  #nav-box {
  float: left;
  width: 100%;
}

  #nav {
    display:unset;
    clear: both;
    float:left;
    width:100%;
    margin: 2px 0%;
  }

  #nav li {
    display:inline-block;
    margin: 0 1em;
  }

  .icon-menu {
    display: none;
  }

  .article {
    margin: 0 auto;
    margin-top: 2em;
    width: 100%;
  }

  .article p {
  margin:4%;
  }

}

@media screen and (min-width: 1000px){

  .article{
    max-width:960px;
    /*this expands div to include image*/
    overflow: auto;
  }
}


@media screen and (min-width: 1280px){
.article{
    max-width: 1200px;
    margin-bottom: 6em;
}

.article img{
  margin-left: 0;
  margin-right: 4em;
  float: left;
  max-width: 40%;
  max-height: 100%;
}

}
